@import url('https://fonts.googleapis.com/css?family=Concert+One');
// Grand Central Station, Main, Vertex, Canon, etc. 
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background: white;
}


// Stage (Parent)
#stage {
    position: relative;
    overflow: hidden;  
    background: #d2d2d2;
    padding: 1em;
    margin: 0 auto;
    align-content: center;
}

// Child
h1{
    display: block;
    font-family: 'Concert One', cursive;
    font-size: 2em;
    margin: -100px auto;
    padding: .5em;
    text-align: center;
    align-content: center;
}


.body {
    margin: 150px auto;
    width: 20%;
    height: auto;
    text-align: center;
}
    





// Child
#stage h1 {
    position: absolute;
    top: 40%;
    left: 40%;
}

// Animations Go Here
// First Frame
# h1 {
    opacity: 0;
    transition: opacity 1.5s;    
}

// Last Frame
#stage:hover h1, 
#stage:hover svg {
    opacity: 1;
}

.body:hover {
    transform: rotate(45deg);
    
}










