@import url('https://fonts.googleapis.com/css?family=Concert+One');
// Grand Central Station, Main, Vertex, Canon, etc. 
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background: white;
}

// Stage (Parent)
#stage {
    background: url(/img/sky.png);
    position: relative;

    overflow: hidden;
}

Layer_1 {
	animation: Up 5s 1s infinite alternate-reverse both;
}
// Child
#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    display: block;	
}

// Child
#stage h1 {
    font-size: 2em;
    letter-spacing: 1px;
    color: whitesmoke;
    position: absolute;
    font-family: 'Concert One', cursive;
    top: 40%;
    left: 40%;
    
    transform: rotate(0deg);
}
#car {
    position: absolute;
    width: 50%;
    height: auto;
    align-content: center;
    text-align: center;
    margin: 200px 200px 300px 50px;
  
}



// Animations Go Here
// First Frame
#stage:hover h1 {
  font-size: 8em;
  margin: -50px 0 0 -200px;
  color: white;    
  transform: rotate(360deg);
  transition: transform 1.1s;

}

#car:hover {
    background-color: transparent;
}


#Layer_1:hover {
	animation: Up 5s 1s infinite alternate-reverse both;
}









