@import url('https://fonts.googleapis.com/css?family=Concert+One');
// Grand Central Station, Main, Vertex, Canon, etc. 
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background: white;
}

// Stage (Parent)
#stage {
    position: relative;
    overflow: hidden;
}

// Child
#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    display: block;
}

// Child
#stage h1 {
    position: absolute;
    font-family: 'Concert One', cursive;
    top: 40%;
    left: 40%;
}
#google {
    position: absolute;
    width: 50%;
    height: auto;
    align-content: center;
    text-align: center;
    margin: 200px 50px 0px -500px;
  
}

//#body{
   // display: block;
   // position: absolute;
   // height: auto;
   // text-align: left;
    //margin: 0 auto;
//}


// Animations Go Here
// First Frame
#body:hover {
	transition-property: all;
	transition-duration: 10s;
	transition-timing-function: cubic-bezier(0,2.02,1,-0.95);
}


// Last Frame
#stage:hover h1 {
    opacity: 1;
}

#stage:hover svg {
    opacity: 1;

}










